-
    const mainNav = [
        {
            nameGroup: 'Разделы',
            links: [
                {link: '#', name: 'Туду лист'},
                {link: '#', name: 'Чек листы'},
                {link: '#', name: 'Мой дневник'}
            ]
        },
        {
            nameGroup: 'Категории',
            links: [
                {link: '#', name: 'Все'},
                {link: '#', name: 'Дом'},
                {link: '#', name: 'Семья'}
            ]
        },
        {
            nameGroup: 'Данные',
            links: [
                {link: '#', name: 'Статистика'},
                {link: '#', name: 'Сравнить'},
                {link: '#', name: 'Личный кабинет'}]
        }
    ];