- let title = 'Главная'
doctype
html(lang='ru')
    include html/head
    body
        include html/header
        main.main-content Контент
        include html/footer
        script(src='js/app.min.js')